<!doctype html>
<html ng-app="timerApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
  <body ng-controller="timerController">
    <div class="panel">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-md-8">
            <input class="form-control" ng-model="currentTask.name" placeholder = "What are you working on?" />
          </div>
        </div>
	    <div class="form-group">
          <div class="col-md-2">
	        <select class="inputProject" ng-model="currentTask.selectedProject" >
   		      <option ng-repeat="item in project" value="{{item.project}}">{{item.project}}</option> 
  		    </select>
          </div>
        </div>
	    <div class="form-group">
          <div class="col-md-8">
            <input class="secundomer" value = "00:00:00.00" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <button class="btn btn-start" ng-click="start()">Start</button>
            <button class="btn btn-stop"  ng-click="stop()">Stop</button>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
                <th> Задача </th>
                <th> Проэкт </th>
                <th> Потраченное время на задачу </th>
                <th> Время работы </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list.tasks track by $index">
              <td>{{item.name}}</td>
              <td>{{item.selectedProject}}</td>
              <td>{{item.dateDifference}}</td>
              <td>{{item.dateBegin}} - {{item.dateFinish}} </td>
              
            </tr>
          </tbody>
        </table>
    </div>
    <script src="js/main.js"></script> 
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script>
      var model ={
       tasks :[
         { name: "Задача № 1", selectedProject: 'select project', dateBegin:'19:58:49', dateFinish:'19:58:59',dateDifference:'00:00:10'},
         { name: "Задача № 2", selectedProject: 'timer', dateBegin:'19:58:59', dateFinish:'19:59:15',dateDifference:'00:00:16'}  
        ]
      };
      
      var timerApp = angular.module('timerApp', []);
      
      timerApp.controller("timerController", function ($scope) {
        
        $scope.list=model;
        $scope.selectedProject= "select project";
        $scope.project = [
          {project : "select project"},
          {project : "timer"},
          {project : "timer1"},
          {project : "timer2"}
     
        ];
          
        $scope.currentTask={name:'',selectedProject:'',dateBegin:'',dateFinish:''};
        $scope.start = function Start() {
          var dateBegin = new Date();
          /*var dateBegin = dateBegin.toLocaleTimeString();*/
          $scope.currentTask.dateBegin=dateBegin;
          timeStart=new Date();
          hoursStart=timeStart.getHours();
          minutesStart=timeStart.getMinutes();
          secondsStart=timeStart.getSeconds();
          minutesStart=checkTime(minutesStart);
          secondsStart=checkTime(secondsStart);
          $scope.currentTask.dateBegin= hoursStart+":"+minutesStart+":"+secondsStart;
        }
        
        function checkTime(i){
          if (i<10)
            {
               i="0" + i;
            }
          return i;
       }
     	
    
        $scope.stop = function Stop() {
		      $scope.dateFinish = new Date();
          /*var dateFinish = dateFinish.toLocaleTimeString();*/
          timeStop=new Date();
          hoursStop=timeStop.getHours();
          minutesStop=timeStop.getMinutes();
          secondsStop=timeStop.getSeconds();
          minutesStop=checkTime(minutesStop);
          secondsStop=checkTime(secondsStop);
          $scope.dateFinish= document.getElementById=hoursStop+":"+ minutesStop+":"+secondsStop;
          hoursDifference =hoursStop-hoursStart;
          minutesDifference =minutesStop-minutesStart;
          secondsDifference=secondsStop-secondsStart;
          minutesDifference=checkTime(minutesDifference);
          secondsDifference=checkTime(secondsDifference);
          var dateDifference= document.getElementById=hoursDifference+":"+minutesDifference+":"+secondsDifference;
          $scope.currentTask.dateFinish=$scope.dateFinish;
          
          $scope.list.tasks.push($scope.currentTask);  
          $scope.currentTask= {};

        }  
      });
    
    </script>
  </body>
</html>