<!doctype html>
<html ng-app="timerApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-controller="timerController">
    <div class="panel">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-md-8">
            <input class="form-control" ng-model="currentTask.name" placeholder="What are you working on?"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <select class="inputProject" ng-model="currentTask.selectedProject">
   		        <option ng-repeat="item in project" value="{{item.project}}">{{item.project}}</option> 
  		      </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <form name="clockform">
              <input name="clock" size="12" maxlength="12" ng-model="clock" ng-init="clock='00:00:00'">
            </form>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <button class="btn btn-start" ng-click="startOrStop()" ng-bind="buttonText" ng-style="style"></button>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Задача </th>
              <th> Проэкт </th>
              <th> Быстрый старт </th>
              <th> Потраченное время на задачу </th>
              <th> Время работы </th>
              <th> Дата завершения проекта </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in tasks track by $index">
              <td>{{item.name}}</td>
              <td>{{item.selectedProject}}</td>
              <td><button class="btn-quickStart" ng-click="quickStart(item)"></button></td>
              <td>{{dateDifference(item.dateBegin, item.dateFinish)}}</td>
              <td>{{item.dateBegin.toLocaleTimeString()}} - {{item.dateFinish.toLocaleTimeString()}} </td>
              <td>{{item.dateFinish.toLocaleDateString()}}</td>
            </tr>
          </tbody>
        </table>
      </div>  
  
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/localStorage.js"></script>
  </body>
</html>
