.panel{padding:50px 20px 0px 20px;}
.form-inline{padding-bottom:25px;}


.form-group select {height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table{margin-top: 40px;}

.form-group .form-control {margin-left:-15px;}

.btn-start {color: #fffdfd;
    background-color: #11dc51;;
    border-color: #000;
    width: 100px;
    margin-left: 10px;
    font-size: 15px;
}

.btn-stop{color: #fffdfd;
    background-color: #ff0b0b;
    border-color: #000;
    width: 100px;
    margin-left: 10px;
    font-size: 15px;
}

tr > td:nth-child(2) {color:blue;}